# Logger64 v0.1.15-beta by @tbm00
# https://github.com/tbm00/Logger64

hook:
  AuthMe: true
  FastLogin: true
  Floodgate: true

mysql:
  host: 'host'
  port: 3306
  database: 'db'
  username: 'user'
  password: 'pass'
  useSSL: false
  hikari:
    maximumPoolSize: 16
    minimumPoolSize: 2
    idleTimeout: 240 # 4 minutes
    connectionTimeout: 30 # 30 seconds
    maxLifetime: 1800 # 30 minutes
    leakDetection:
      enabled: false
      threshold: 2 # 2 seconds

logger:
  enabled: true
  # logJoinEventMethod - When does the player's connection get logged?
  # immediate: as soon as they join
  # timer: after timerTicks, if they're still online
  # authme: after authenticating via AuthMe
  logJoinEventMethod: authme
  timerTicks: 3600 # 3 minutes
  nonLoggedIPs: []
  #- 0.0.0.0
  #- 255.255.255.255

protection:
  requirePremiumToRegister: false # dont allow cracked registrations -- requires authme and fastlogin
  allowBedrockToo: true # allow bedrock players to also register -- requires floodgate
  playerWhitelist: []
  cidrBlacklistAll: []
  cidrBlacklistUnseen: []